<template>
  <div class="table_outer_wrapper">
    <section class="table_wrapper">
      <div class="table_container" :style="{ width: tableWidth }">
        <!-- table Title -->
        <TableRow
          v-bind="{
            isHeaderRow: true,
            cellNames: tableCellIds
          }"
        >
          <template v-for="(item, i) in tableHeader" :slot="item.id">
            <div
              :class="['table_header', { sortable: item.sortable }]"
              :key="i"
              @click="item.sortable && sortTableData(item.id, item.sortOrder)"
            >
              {{ item.title || "--" }}
              <span v-if="item.sortable" :class="['sort-icon', item.sortOrder]">
                <i class="icon-carrot-up"></i>
                <i class="icon-carrot-down"></i>
              </span>
            </div>
          </template>
        </TableRow>
        <!-- table body -->
        <template v-for="(item, i) in tableRowsData">
          <TableRow v-if="i <= rowCount" :cellNames="tableCellIds" :key="i">
            <template v-for="id in tableCellIds" :slot="id">
              <div :key="id">
                {{ (item[id] || "--") | iconizeInr }}
              </div>
            </template>
          </TableRow>
        </template>
        <div class="empty_data" v-if="!tableRowsData || !tableRowsData.length">
          No records found.
        </div>
      </div>
    </section>
    <section class="add_row"><slot /></section>
    <section class="bottom_row">
      <Dropdown
        :options="pageSizeOptions"
        :selected="selectedPageSize"
        :type="'items'"
        styleClass="top"
        @onSelect="updatePageSize"
      />
      <Pagination
        :totalPages="totalPages"
        :initPageNumber="0"
        :activePage="activePage"
        @onChangePage="updatePageNumber"
      />
    </section>
  </div>
</template>
<script>
import map from "lodash/map";
import TableRow from "@/components/TableRow";
import Pagination from "@/components/Pagination";
import Dropdown from "@/components/Dropdown";
import { mapMutations, mapState, mapGetters } from "vuex";
import { PAGE_NUMBER, PAGE_SIZE, SORT_TYPES } from "@/constants";
export default {
  name: "PaginatedTable",
  props: ["tableData", "expand", "tableWidth", "totalPages", "sort"],
  components: { TableRow, Pagination, Dropdown },
  data() {
    return {
      pageSizeOptions: [
        { name: "25", value: 25 },
        { name: "50", value: 50 },
        { name: "100", value: 100 }
      ]
    };
  },
  computed: {
    ...mapState(["tableSortOrder"]),
    ...mapGetters(["getFilterParams"]),
    activePage: ({ getFilterParams }) => getFilterParams([PAGE_NUMBER]),
    selectedPageSize: ({ getFilterParams }) => {
      const pageSize = getFilterParams([PAGE_SIZE]);
      return { name: pageSize, value: pageSize };
    },
    tableCellIds: ({ tableData }) => {
      let ttl = [];
      ttl =
        tableData &&
        map(tableData.rowHeader, item => {
          return item.id;
        });
      return ttl;
    },
    tableHeader: ({ tableData }) => {
      return tableData?.rowHeader;
    },
    tableRowsData: ({ tableData }) => {
      return tableData?.rowData;
    },
    rowCount({ tableData, expand }) {
      return expand ? tableData?.rowData?.length : 5;
    }
  },
  methods: {
    ...mapMutations({ setPageParams: "SET_FILTER_VALUE" }),
    updatePageNumber(val) {
      this.setPageParams({ [PAGE_NUMBER]: val });
      this.$emit("onClickTableFilter");
    },
    updatePageSize({ value }) {
      const activePagesize = this.getFilterParams([PAGE_SIZE]);
      if (activePagesize !== value) {
        this.setPageParams({ [PAGE_SIZE]: value, [PAGE_NUMBER]: 0 });
        this.$emit("onClickTableFilter");
      }
    },
    sortTableData(id, order) {
      order = order === SORT_TYPES.DESC ? SORT_TYPES.ASC : SORT_TYPES.DESC;
      this.$emit("onSort", id, order);
    }
  }
};
</script>
<style lang="scss" scoped>
.table_wrapper {
  overflow: hidden;
  overflow-x: scroll;
  scrollbar-width: none;
  ::-webkit-scrollbar {
    width: 0px;
  }
}
.table_container {
  font-size: 1.3em;
  max-height: 350px;
  overflow: hidden;
  overflow-y: scroll;
  .table_header {
    float: left;
  }
}
.empty_data {
  padding: 1em 2em;
  min-height: 10em;
}
.bottom_row {
  padding: 1em 2em;
  display: flex;
  justify-content: space-between;
  /deep/.drop {
    max-width: 10em;
  }
}
.sortable {
  cursor: pointer;
}
.table_outer_wrapper {
  margin: 2em 0;
  background: $white;
}
.sort-icon {
  display: inline-flex;
  flex-direction: column;
  i {
    line-height: 0.1em;
  }

  &.asc {
    .icon-carrot-up {
      color: $white;
    }
  }
  &.desc {
    .icon-carrot-down {
      color: $white;
    }
  }
}
</style>
