<template>
  <section class="titlecard_wrapper">
    <template v-for="(cardItem, key) in cardData">
      <div class="coloms" :key="key">
        <div class="card_item">
          <div class="value">{{ cardItem | convertInr }}</div>
          <div class="label">{{ cardItem.label }}</div>
          <div v-if="cardItem.subItem" class="sub_item_row">
            <aside v-for="(subItem, subkey) in cardItem.subItem" :key="subkey">
              <div class="sub_value">
                {{ subItem | convertInr }}
              </div>
              <div class="sub_label">{{ subItem.label }}</div>
            </aside>
          </div>
        </div>
      </div>
    </template>
  </section>
</template>
<script>
// import { cardMockData } from "./mockData";
import { formatValue } from "@/utils";
export default {
  components: {},
  props: {
    cardData: {
      type: Array
    }
  },
  data() {
    return {};
  },
  created() {},
  computed: {},
  filters: {
    convertInr: item => {
      return item?.isInr
        ? formatValue({ value: item.value, isINR: true })
        : item.value;
    }
  },
  methods: {}
};
</script>
<style lang="scss" scoped>
.titlecard_wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 2em -1em;
  .coloms {
    flex-basis: 25%;
    margin: 1em 0em;
  }
  .card_item {
    display: flex;
    flex-wrap: wrap;
    background: $white;
    padding: 2em 1.5em;
    margin: 0 1em;
    align-items: center;
    align-content: center;
    color: $dark-gray;
    height: 100%;
    .value {
      font-size: 3em;
      width: 100%;
    }
    .label {
      width: 100%;
      font-size: 1.4em;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 0.1em;
    }
  }
}
.sub_item_row {
  display: flex;
  width: 100%;
  margin: 1em 0 0;
  padding-top: 1em;
  border-top: 1px solid $bluey-gray;
  aside {
    width: 50%;
    padding-left: 1em;
    .sub_value {
      font-size: 1.5em;
      word-break: break-word;
    }
    .sub_label {
      font-size: 1.3em;
      text-transform: uppercase;
      font-weight: 600;
    }
    &:first-child {
      padding-left: 0em;
      padding-right: 1em;
      border-right: 1px solid $bluey-gray;
    }
  }
}
</style>
