<template>
  <div class="outerwrapper">
    <template v-if="isLogedIn">
      <LeftMenu />
      <section class="wrapper">
        <TopBar :title="pageTitle" />
        <MessageBar />
        <router-view class="route_content" v-if="hasPermission" />
        <section v-else class="route_content">Permissions denied.</section>
      </section>
    </template>
    <PreLoader v-else-if="isLoading">fetching user details</PreLoader>
  </div>
</template>

<script>
// @ is an alias to /src
import { mapGetters, mapState, mapMutations } from "vuex";
import LeftMenu from "./LeftMenu";
import TopBar from "./TopBar";
import MessageBar from "@/components/MessageBar";
import PreLoader from "@/components/PreLoader";
export default {
  name: "Layout",
  components: {
    LeftMenu,
    TopBar,
    MessageBar,
    PreLoader
  },
  data() {
    return {};
  },
  computed: {
    ...mapState(["abortApi"]),
    ...mapState("userDetails", ["isLoading"]),
    ...mapGetters("userDetails", [
      "userPermissions",
      "checkPermissions",
      "isLogedIn"
    ]),
    pageTitle: ({ $route }) => $route.meta?.title,
    hasPermission: ({ isLogedIn, checkPermissions, $route }) => {
      return isLogedIn && checkPermissions($route.meta?.permissions);
    }
  },
  methods: {
    ...mapMutations({ resetFilterData: "RESET_FILTER_VALUE" })
  },
  beforeRouteUpdate(to, from, next) {
    this.resetFilterData();
    this.abortApi?.cancel("CANCELLED");
    next();
  }
};
</script>
<style lang="scss" scoped>
.outerwrapper {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  /deep/.preloader-wrap {
    min-height: 70vh;
  }
}
.wrapper {
  width: $content-width;
  position: relative;
}
.route_content {
  padding: 2rem 3rem 4rem;
  // min-width: 76em;
}
</style>
