<template>
  <header class="topbar">
    <h1>{{ title }}</h1>
    <div>
      <Selectbox
        class="selectbox"
        :options="options"
        :selected="selected"
        @select="onChange"
      />
    </div>
  </header>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import Selectbox from "@/components/Selectbox";
export default {
  components: {
    Selectbox
  },
  name: "TopBar",
  props: {
    title: String
  },
  computed: {
    ...mapGetters("userDetails", ["userId"]),
    selected() {
      return {
        value: "userId",
        name: this.userId
      };
    }
  },
  data() {
    return {
      options: [
        {
          value: "logout",
          name: "Logout"
        }
      ]
    };
  },
  methods: {
    ...mapActions("userDetails", ["logout"]),
    onChange(option) {
      if (option.value === "logout") {
        this.logout(this.userId);
      }
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.topbar {
  padding: 0 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $topbar-height;
  background: $white;
  position: sticky;
  top: 0;
  z-index: 9999;
  h1 {
    font-size: 1.8em;
    font-weight: normal;
    color: $dark-gray;
    text-transform: capitalize;
  }
}

/deep/ .select {
  max-width: 25rem;
  &.active .content {
    border: 1px solid transparent;
  }
  .content {
    height: 3rem;
    border: 1px solid transparent;
    text-transform: none;
  }

  .menu {
    top: 46px;
    padding: 0;
    max-width: 10rem;
    right: 0;
    left: unset;
  }
}
</style>
