<template>
  <div :class="['input-wrapper', theme]">
    <label v-if="label" class="label-input" :for="fieldId">{{ label }}</label>
    <input
      class="text-field"
      :name="fieldId"
      autocomplete="false"
      autofocus
      :id="fieldId"
      :type="type"
      :placeholder="placeHolder"
      :value="value"
      @keydown="handleKeyDown"
      @keyup="handleKeyUp"
      @change="handleChange"
      @input="handleInput"
      @focus="handleFocus"
      v-bind="type == 'number' ? { max: maxVal, min: minVal } : ''"
      :readonly="readonly"
    />
    <span class="error" v-if="errorMsg">{{ errorMsg }}</span>
  </div>
</template>
<script>
import map from "lodash/map";
import concat from "lodash/concat";
export default {
  name: "TextField",
  props: {
    label: {
      type: String,
      required: false
    },
    fieldId: {
      type: String
    },
    placeHolder: {
      type: String,
      default: "Enter the value"
    },
    value: {
      type: String,
      default: ""
    },
    maxVal: null,
    minVal: null,
    type: {
      type: String,
      default: "text"
    },
    readonly: {
      type: Boolean,
      default: false
    },
    prefixIcon: null,
    errorMsg: null,
    preventKeys: Array,
    theme: {
      type: String,
      default: "light",
      validator: value => {
        return value === "light" || value === "dark";
      }
    }
  },
  data() {
    return {
      defaultPreventKeys: ["69", "189", "187"]
    };
  },
  methods: {
    preventAction(value) {
      let { maxVal } = this;
      if (
        maxVal &&
        Number(value) >= Number(maxVal) &&
        event.keyCode !== 46 && // keycode for delete
        event.keyCode !== 8 // keycode for backspace
      ) {
        event.preventDefault();
      }
    },
    handleFocus() {
      this.$emit("clearError");
    },
    handleKeyUp(event) {
      let { value } = event.target;
      this.preventAction(value);
      this.$emit("keyUp", this.fieldId, value, event.key);
    },
    handleKeyDown(event) {
      const { preventKeys, defaultPreventKeys, type } = this;
      const Keys =
        type === "number"
          ? concat(preventKeys, defaultPreventKeys)
          : preventKeys;
      if (Keys) {
        map(Keys, pkey => {
          if (Number(pkey) === event.keyCode) {
            event.preventDefault();
          }
        });
      }
      let { value } = event.target;
      this.preventAction(value);
      this.$emit("keyDown", this.fieldId, value, event.key);
    },
    handleChange(event) {
      this.$emit("change", this.fieldId, event.target.value);
    },
    handleInput(event) {
      this.$emit("input", this.fieldId, event.target.value);
    }
  }
};
</script>
<style lang="scss" scoped>
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.8em 0 1.2em;
  position: relative;
  &:before,
  &:after {
    position: absolute;
    top: 4em;
    left: 0.8em;
    color: $bluey-gray;
  }
  &:before {
    content: attr(data-before-icon);
  }
  &:after {
    content: attr(data-after-icon);
    left: auto;
    right: 8px;
  }
  &[data-before-icon] {
    .text-field {
      padding: 0 7px 0 18px;
    }
  }
  &[data-after-icon] {
    .text-field {
      padding: 0 18px 0 7px;
    }
  }
  &.dark {
    --inputfield-bg-color: #{rgba($dark-gray, 0.3)};
    --inputfieldfocus-bg-color: #{rgba($dark-gray, 0.4)};
    --inputfield-color: #{$bluey-gray};
    --inputborder-color: #{rgba($dark-gray, 1)};
    --label-color: #{$bluey-gray};
    --inputfocusborder-color: #{lighten($dark-gray, 20)};
    --placeholder-color: #{darken($bluey-gray, 20)};
  }
}
.label-input {
  @include label-typo;
}
.error {
  @include error-typo;
}
.text-field {
  width: 100%;
  height: 4rem;
  border-radius: 0.3em;
  border: 0;
  padding: 0.5em 1em;
  font-size: 1.5em;
  color: var(--inputfield-color, $dark-gray);
  background-color: var(--inputfield-bg-color, $white);
  border: solid 1px var(--inputborder-color, $dark-gray);
  -webkit-appearence: none;
  outline: 0;
  &[readonly],
  &[readonly]:focus {
    border: solid 1px transparent;
    color: var(--inputfield-color, lighten($dark-gray, 30%));
  }
  &:focus {
    background: var(--inputfieldfocus-bg-color, $white);
    border-color: var(--inputfocusborder-color, $dark-gray);
  }
  &::placeholder {
    color: var(--placeholder-color, lighten($dark-gray, 30%));
  }
}
</style>
