<template>
  <div class="tab-component">
    <ul class="tab-component-tabs" :class="[options.headerType]">
      <li
        v-for="(tab, i) in tabs"
        :key="i"
        :class="{ 'is-active': tab.isActive }"
        class="tab-component-list"
      >
        <div
          v-html="tab.header"
          @click="selectTab(tab.id, $event)"
          class="tab-component-header"
          role="tab"
        ></div>
      </li>
    </ul>
    <div class="tab-component-panels">
      <slot />
    </div>
  </div>
</template>

<script>
export default {
  name: "TabComponent",
  props: {
    options: {
      type: Object,
      default: () => ({
        defaultTabId: null,
        headerType: "default"
      })
    }
  },
  watch: {
    tabs(newVal) {
      this.selectDefaultTab(newVal);
    }
  },
  data: () => ({
    tabs: [],
    activeTab: null
  }),
  created() {
    this.tabs = this.$children;
  },
  mounted() {
    this.selectDefaultTab(this.tabs);
  },
  methods: {
    findTab(id, tab) {
      return tab && tab.find(tab => tab.id === id);
    },
    selectTab(selectedTabId) {
      const selectedTab = this.findTab(selectedTabId, this.tabs);
      if (!selectedTab) {
        return;
      }

      this.tabs.forEach(tab => {
        tab.isActive = tab.id === selectedTabId;
      });

      if (this.activeTab && this.activeTab.id === selectedTabId) {
        this.$emit("clicked", selectedTab);
        return;
      }

      this.$emit("changed", selectedTab);
      this.activeTab = selectedTab;
    },
    selectDefaultTab(tab) {
      if (
        this.options.defaultTabId !== null &&
        this.findTab(this.options.defaultTabId)
      ) {
        this.selectTab(this.options.defaultTabId);
        return;
      }

      if (tab.length) {
        this.selectTab((this.activeTab && this.activeTab.id) || tab[0].id);
      }
    }
  }
};
</script>
<style lang="scss">
.tab-component-tabs {
  border: 0;
  align-items: stretch;
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid $border-gray;
  &.hasSubtitle {
    .tab-component-list {
      border-radius: 2px;
      border: solid 1px #dfe3ec;
      border-bottom: 0px;
      color: $dark-gray;
      width: 180px;
      .tab-component-header {
        align-items: flex-start;
      }
      .tab-title {
        font-size: 30px;
        span {
          display: block;
          padding-bottom: 5px;
          &:last-child {
            padding: 0;
          }
        }
      }
      .tab-subtitle {
        font-size: 13px;
        color: $bluey-gray;
        padding-top: 8px;
      }
      &.is-active {
        background-color: $border-gray;
        border: solid 1px transparent;
      }
    }
  }
}

.tab-component-list {
  color: $bluey-gray;
  font-size: 16px;
  margin-right: 0;
  list-style: none;
  cursor: pointer;
  min-width: 110px;
  max-width: 200px;
  background-color: $border-gray;
  &:first-child {
    border-radius: 3px 0 0 0;
  }
  &:last-child {
    border-radius: 0 3px 0 0;
  }
  &.is-active {
    color: $dark-gray;
    font-weight: 400;
    background-color: #fff;
    border-bottom: 3px solid $bright-blue;
    z-index: 2;
  }

  .tab-component-header {
    align-items: center;
    color: inherit;
    display: flex;
    flex-direction: column;
    padding: 14px 20px;
    text-decoration: none;
  }
}

.tab-component-panels {
  background-color: $white;
  border-radius: 0 3px 3px 3px;
}
</style>
