<template>
  <section v-show="isActive" class="tabs-component-panel" :id="id">
    <slot />
  </section>
</template>

<script>
export default {
  name: "Tab",
  props: {
    id: {
      default: null,
      required: true
    },
    title: {
      type: Object
    }
  },
  data: () => ({
    isActive: false
  }),
  computed: {
    header() {
      let headerHTML = `<div class="tab-header-wrapper">`;
      if (this.title.hasOwnProperty("subTitle")) {
        let negative_val = this.title.isNegative ? "red" : "";
        headerHTML = `<span class="tab-title ${negative_val}"><span class="tab-subtitle">${this.title.subTitle}</span><span>${this.title.title}</span></span>`;
      } else {
        headerHTML = `<span class="tab-title">${this.title.title}</span>`;
      }
      headerHTML += `<div/>`;
      return headerHTML;
    }
  }
};
</script>
<style lang="scss" scoped>
.tabs-component-panel {
  position: relative;
  padding: 1em 2em;
}
</style>
