<template>
  <div
    :class="{
      filter_wrapper: true,
      only_date_filter: showDateFilter && !showStatusFilter,
      inline_button: inlineButton && !showStatusFilter
    }"
  >
    <section v-if="showSearchBar">
      <SearchBar />
    </section>
    <section v-if="showDateFilter">
      <DateFilter
        v-bind="{
          startDateError,
          endDateError
        }"
        @onChange="onDateChange"
      />
    </section>
    <section v-if="showStatusFilter">
      <StatusFilter />
    </section>
    <section class="button_row">
      <Button @click="validatFilter">Apply</Button>
      <Button @click="clearData" btn_type="text">Clear</Button>
    </section>
  </div>
</template>
<script>
import moment from "moment";
import StatusFilter from "./StatusFilter";
import DateFilter from "./DateFilter";
import SearchBar from "./SearchBar";
import Button from "@/components/Button";
import { filterKeys } from "@/constants";
import { mapState, mapMutations } from "vuex";
export default {
  props: {
    inlineButton: Boolean,
    showDateFilter: Boolean,
    showStatusFilter: Boolean,
    showSearchBar: Boolean
  },
  components: { SearchBar, StatusFilter, DateFilter, Button },
  data() {
    return {
      startDateError: false,
      endDateError: false
    };
  },
  watch: {
    $route() {
      this.startDateError = false;
      this.endDateError = false;
    }
  },
  computed: {
    ...mapState(["filterParams"]),
    fromDate: ({ filterParams: { fromDate } }) => fromDate,
    toDate: ({ filterParams: { toDate } }) => toDate
  },
  methods: {
    ...mapMutations({ clearFilter: "RESET_FILTER_VALUE" }),
    validatFilter() {
      const { fromDate, toDate } = this;
      this.startDateError = !moment(fromDate).isValid();
      this.endDateError = !moment(toDate).isValid();
      if (moment(fromDate).isValid() && moment(toDate).isValid()) {
        this.$emit("applyFilter");
      }
    },
    clearData() {
      this.startDateError = false;
      this.endDateError = false;
      this.clearFilter(null);
    },
    onDateChange(key) {
      const { FROM_DATE, TO_DATE } = filterKeys;
      if (key === FROM_DATE) {
        this.startDateError = false;
      }
      if (key === TO_DATE) {
        this.endDateError = false;
      }
    }
  }
};
</script>
<style lang="scss" scoped>
.button_row {
  display: flex;
  margin: 20px 0;
  /deep/ {
    .button {
      max-width: 150px;
      margin-right: 10px;
    }
  }
}
.filter_wrapper {
  padding: 1em 2em;
  background: $white;
}
.inline_button {
  display: flex;
  .button_row {
    margin-top: 2.6em;
  }
  /deep/ {
    .datepicker_row {
      margin-bottom: 1em;
    }
  }
}
</style>
