<template>
  <div>
    <section class="filter_items">
      <Selectbox
        v-bind="{ ...payment1, selected: { ...selected_payment1 } }"
        @select="obj => filterChange(obj, PAYMENT_STATUS_1)"
      />
      <Selectbox
        v-bind="{ ...payment2, selected: { ...selected_payment2 } }"
        @select="obj => filterChange(obj, PAYMENT_STATUS_2)"
      />
      <Selectbox
        v-bind="{ ...pfm, selected: { ...selected_pfm } }"
        @select="obj => filterChange(obj, PFM_CODES)"
      />
      <Selectbox
        v-bind="{ ...transaction, selected: { ...selected_transaction } }"
        @select="obj => filterChange(obj, TRANSACTION_STATUSES)"
      />
    </section>
  </div>
</template>
<script>
import find from "lodash/find";
import isEqualWith from "lodash/isEqualWith";
import Selectbox from "@/components/Selectbox";
import {
  filterKeys,
  paymentStatusSelectOptions,
  transactionStatusSelectOptions,
  pfmStatusSelectOptions
} from "@/constants";
import { mapMutations, mapGetters } from "vuex";
const {
  PAYMENT_STATUS_1,
  PAYMENT_STATUS_2,
  TRANSACTION_STATUSES,
  PFM_CODES
} = filterKeys;
export default {
  components: { Selectbox },
  data() {
    return {
      PAYMENT_STATUS_1,
      PAYMENT_STATUS_2,
      TRANSACTION_STATUSES,
      PFM_CODES,
      payment1: {
        label: "Payment 1 Status",
        options: paymentStatusSelectOptions
      },
      payment2: {
        label: "Payment 2 Status",
        options: paymentStatusSelectOptions
      },
      transaction: {
        label: "Transaction Status",
        options: transactionStatusSelectOptions
      },
      pfm: {
        label: "PFM",
        options: pfmStatusSelectOptions
      }
    };
  },
  computed: {
    ...mapGetters(["getFilterParams"]),
    selected_payment1: ({ reverseMap, getFilterParams }) => {
      const val = getFilterParams(PAYMENT_STATUS_1);
      return val && reverseMap(val, paymentStatusSelectOptions);
    },
    selected_payment2: ({ reverseMap, getFilterParams }) => {
      const val = getFilterParams(PAYMENT_STATUS_2);
      return val && reverseMap(val, paymentStatusSelectOptions);
    },
    selected_transaction: ({ reverseMap, getFilterParams }) => {
      const val = getFilterParams(TRANSACTION_STATUSES);
      return val && reverseMap(val, transactionStatusSelectOptions);
    },
    selected_pfm: ({ reverseMap, getFilterParams }) => {
      const val = getFilterParams(PFM_CODES);
      return val && reverseMap(val, pfmStatusSelectOptions);
    }
  },
  methods: {
    ...mapMutations({ setFilter: "SET_FILTER_VALUE" }),
    filterChange(item, key) {
      this.setFilter({ [key]: item.value });
    },
    reverseMap(val, option) {
      if (typeof val === "string") {
        return find(option, item => {
          return item?.value === val ? item : null;
        });
      } else {
        return isEqualWith(option[0].value, val) ? option[0] : null;
      }
    }
  }
};
</script>
<style lang="scss" scoped>
.filter_items {
  display: flex;
  margin: 0 0 0 -15px;
  /deep/ {
    .select {
      margin-left: 15px;
    }
  }
}
</style>
