<template>
  <div class="login-wrapper">
    place for login window
  </div>
</template>

<script>
import { mapMutations } from "vuex";
export default {
  data: () => ({
    authURL: "auth/v2"
  }),
  methods: {
    ...mapMutations("userDetails", { setUserDetails: "SET_USER_DETAILS" }),
    loginSuccess(payload = {}) {
      const { detail: { response } = {} } = payload;
      this.setUserDetails(response);
      this.$router.push("/");
    }
  }
};
</script>

<style lang="scss">
.login-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $white;
}

login-module {
  width: 100%;
}
</style>
