<template>
  <div class="leftMenuWrapper">
    <div class="logo"><img src="@/assets/logo.svg" alt="" /></div>
    <nav>
      <MenuItem
        ref="parent_elem"
        v-for="(item, index) in navmenu"
        :key="index"
        :item="item"
        :level="0"
        :parenturl="''"
      />
    </nav>
  </div>
</template>

<script>
import MenuItem from "./MenuItem";
import menuList from "./menuConfig.js";
export default {
  name: "LeftMenu",
  components: { MenuItem },
  props: {},
  data() {
    return {
      navmenu: menuList
    };
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.leftMenuWrapper {
  padding: 0;
  width: $menubar-width;
  height: 100vh;
  overflow: hidden;
  background-color: $dark-gray;
  position: sticky;
  top: 0;
  ::-webkit-scrollbar-track {
    background-color: $dark-gray;
  }
}
.logo {
  display: flex;
  justify-content: center;
  height: $topbar-height;
  background: $logobg-gray;
}
nav {
  padding-top: 10px;
  height: calc(100vh - #{$topbar-height});
  overflow: hidden;
  overflow-y: scroll;
}
</style>
