<template>
  <div class="page_wrapper">
    <SearchFilter
      :showDateFilter="true"
      :showStatusFilter="true"
      :showSearchBar="true"
      :inlineButton="true"
      @applyFilter="getTransactionsData"
    />
    <TitleCards v-bind="{ cardData }" />
    <PaginatedTable
      :expand="true"
      :tableData="tableData"
      :tableWidth="tableData ? '300em' : null"
      :totalPages="totalPages"
      @onClickTableFilter="getTransactionsData"
      @onSort="(sortKey, sortOrder) => updateSortOrder({ sortKey, sortOrder })"
    />
    <PreLoader v-if="isLoading" :overlay="true" />
  </div>
</template>

<script>
// @ is an alias to /src
import TitleCards from "@/components/TitleCards";
import SearchFilter from "@/components/SearchFilter";
import PaginatedTable from "@/components/PaginatedTable";
import PreLoader from "@/components/PreLoader";
import {
  filterKeys,
  transactionTabs,
  accountTypes,
  revenueTypes,
  PURCHASE,
  REDEMPTION,
  REVENUE
} from "@/constants";
import { mapState, mapGetters, mapActions, mapMutations } from "vuex";
const { TAB_TYPE, ACCOUNT_TYPES, REVENUE_TYPE } = filterKeys;
export default {
  name: "Transactions",
  components: {
    TitleCards,
    SearchFilter,
    PaginatedTable,
    PreLoader
  },
  computed: {
    ...mapState("transactions", ["transactionsData", "isLoading", "sortItem"]),
    ...mapGetters("transactions", {
      PurchaseCardData: "getPurchaseCardData",
      RedemptionCardData: "getRedemptionCardData",
      RevenueCardData: "getRevenueCardData",
      tableData: "getTableData",
      totalPages: "getTotalPages"
    }),
    cardData: ({
      PurchaseCardData,
      RedemptionCardData,
      RevenueCardData,
      $route
    }) => {
      const { tabType } = $route?.meta || {};
      if (transactionTabs[tabType] === PURCHASE) {
        return PurchaseCardData;
      } else if (transactionTabs[tabType] === REDEMPTION) {
        return RedemptionCardData;
      } else if (transactionTabs[tabType] === REVENUE) {
        return RevenueCardData;
      }
    }
  },
  methods: {
    ...mapActions("transactions", ["getTransactionsData"]),
    ...mapMutations({ setFilterData: "SET_FILTER_VALUE" }),
    ...mapMutations("transactions", { updateSortOrder: "SET_SORT_VALUE" }),
    transactionDataApi(routeParams) {
      const {
        meta: { tabType, revenueType },
        params: { tierId }
      } = routeParams;
      if (tabType || tierId) {
        this.setFilterData({
          [TAB_TYPE]: transactionTabs[tabType],
          [ACCOUNT_TYPES]: accountTypes[tierId],
          [REVENUE_TYPE]: revenueTypes[revenueType]
        });
        this.getTransactionsData();
      }
    }
  },
  created() {
    const routeVal = this.$route;
    this.transactionDataApi(routeVal);
  },
  watch: {
    $route(newRoute) {
      this.transactionDataApi(newRoute);
    },
    sortItem() {
      this.getTransactionsData();
    }
  }
};
</script>
<style lang="scss" scoped>
/deep/ {
  .table_wrapper {
    .tier1FundName,
    .tier2FundName,
    .tier2MasterTransactionId,
    .tier1MasterTransactionId {
      flex-grow: 2;
      min-width: 230px;
    }
  }
}
</style>
