<template>
  <div class="addentry_wrapper">
    <Button
      class="add_entry_btn"
      :btn_type="'line'"
      :prime="true"
      :disabled="addEntry"
      @click="handleAddEntryClick"
      ><i class="icon-plus"></i> Add Entry</Button
    >
    <div class="addentry_form" v-if="addEntry">
      <Datepicker
        class="entry_el"
        theme="dark"
        position="bottom"
        label="Financial Date"
        v-bind="{ ...dateOptionsProps }"
        @onDatepick="val => updateEntry(val, FINANCIALDATE)"
        :errorMsg="errorMsg(FINANCIALDATE)"
      />
      <Selectbox
        class="entry_el"
        theme="dark"
        label="Debit Head"
        v-bind="{ options: finHeadTypes, selected: { ...selectedDebitHead } }"
        @select="obj => updateEntry(obj, DEBITHEAD)"
        :errorMsg="errorMsg(DEBITHEAD)"
      />
      <TextField
        :value="entryPayload[DEBITAMOUNT]"
        placeHolder="Enter debit amount"
        class="entry_el"
        label="Debit Amount"
        theme="dark"
        type="number"
        @change="(id, val) => updateEntry(val, DEBITAMOUNT)"
        :errorMsg="errorMsg(DEBITAMOUNT)"
      />
      <Selectbox
        class="entry_el"
        theme="dark"
        label="Credit Head"
        v-bind="{ options: finHeadTypes, selected: { ...selectedCreditHead } }"
        @select="obj => updateEntry(obj, CREDITHEAD)"
        :errorMsg="errorMsg(CREDITHEAD)"
      />
      <TextField
        :value="entryPayload[CREDITAMOUNT]"
        placeHolder="Enter credit amount"
        class="entry_el"
        label="Credit Amount"
        theme="dark"
        type="number"
        @change="(id, val) => updateEntry(val, CREDITAMOUNT)"
        :errorMsg="errorMsg(CREDITAMOUNT)"
      />
      <TextField
        :value="entryPayload[REMARKS]"
        placeHolder="Enter Remarks"
        class="entry_el"
        label="Remarks"
        theme="dark"
        @change="(id, val) => updateEntry(val, REMARKS)"
        :errorMsg="errorMsg(REMARKS)"
      />
      <Button class="save_btn" @click="submitEntryData">Save</Button>
    </div>
  </div>
</template>
<script>
import moment from "moment";
import map from "lodash/map";
import indexOf from "lodash/indexOf";
import remove from "lodash/remove";
import Button from "@/components/Button";
import Selectbox from "@/components/Selectbox";
import TextField from "@/components/TextField";
import Datepicker from "@/components/Datepicker";
import { mapActions, mapState, mapMutations } from "vuex";
import { entryPayloadKeys, headTypeItemObj } from "@/constants/financial";
const {
  FINANCIALDATE,
  DEBITHEAD,
  DEBITAMOUNT,
  CREDITHEAD,
  CREDITAMOUNT,
  REMARKS
} = entryPayloadKeys;
export default {
  name: "AddEntry",
  components: { Button, Selectbox, TextField, Datepicker },
  data() {
    return {
      FINANCIALDATE,
      DEBITHEAD,
      DEBITAMOUNT,
      CREDITHEAD,
      CREDITAMOUNT,
      REMARKS,
      addEntry: false,
      isValidEntry: false,
      invalidEntry: [],
      errorMsgObj: {
        [FINANCIALDATE]: "Invalid Financial Date",
        [DEBITHEAD]: "Invalid  Debit head",
        [CREDITHEAD]: "Invalid  Credit head",
        [DEBITAMOUNT]: "Invalid  Debit amount",
        [CREDITAMOUNT]: "Invalid  Credit amount",
        [REMARKS]: "remarks required"
      }
    };
  },
  computed: {
    ...mapState("financialRecon", ["finHeadTypes", "entryPayload"]),
    dateOptionsProps: ({ formatedDate, entryPayload }) => {
      return {
        options: {
          value: entryPayload[FINANCIALDATE],
          disabledDates: {
            from: moment().toDate()
          },
          placeholder: "DD / MM / YYYY",
          format: formatedDate
        }
      };
    },
    selectedDebitHead: ({ entryPayload }) => {
      let val = entryPayload[DEBITHEAD];
      return headTypeItemObj[val];
    },
    selectedCreditHead: ({ entryPayload }) => {
      let val = entryPayload[CREDITHEAD];
      return headTypeItemObj[val];
    }
  },
  methods: {
    ...mapActions("financialRecon", ["getFinHeadTypes", "postEntryData"]),
    ...mapMutations("financialRecon", { setPayload: "SET_ENTRY_PAYLOAD" }),
    handleAddEntryClick() {
      this.addEntry = true;
      const { finHeadTypes, getFinHeadTypes } = this;
      if (!finHeadTypes?.length) {
        getFinHeadTypes();
      }
    },
    updateEntry(val, key) {
      let value = val;
      if (key === DEBITHEAD || key === CREDITHEAD) {
        value = val.value;
      }
      this.setPayload({ [key]: value });
      //   this.invalidEntry = invalidEntry;
      this.checkEntryIsValid(key, value);
    },
    formatedDate(date) {
      return moment(date).format("DD MMM, YYYY");
    },
    submitEntryData() {
      this.checkEntryIsValid();
      let { isValidEntry } = this;
      if (isValidEntry) {
        this.postEntryData().then(() => {
          this.addEntry = false;
        });
      }
    },
    checkEntryIsValid(k, v) {
      const { entryPayload } = this;
      let invEntry = this.invalidEntry;
      if (k) {
        if (k === DEBITAMOUNT || k === CREDITAMOUNT) {
          entryPayload[DEBITAMOUNT] === entryPayload[CREDITAMOUNT]
            ? remove(invEntry, n => n == DEBITAMOUNT || n == CREDITAMOUNT)
            : invEntry;
        } else {
          v ? remove(invEntry, n => n == k) : invEntry;
        }
        this.invalidEntry = invEntry;
      } else {
        let invalidItem = [];
        map(entryPayload, (val, key) => {
          if (!val) {
            invalidItem.push(key);
          }
          if (entryPayload[DEBITAMOUNT] !== entryPayload[CREDITAMOUNT]) {
            invalidItem.push(DEBITAMOUNT, CREDITAMOUNT);
          }
        });
        this.invalidEntry = invalidItem;
      }
      this.isValidEntry = this.invalidEntry?.length === 0;
    },
    errorMsg(key) {
      const { errorMsgObj, invalidEntry, entryPayload } = this;
      let msg = errorMsgObj[key];
      if (
        entryPayload[key] &&
        (key === CREDITAMOUNT || key === DEBITAMOUNT) &&
        entryPayload[CREDITAMOUNT] !== entryPayload[DEBITAMOUNT]
      ) {
        msg = "Debit & Credit amount should be equal.";
      }
      return indexOf(invalidEntry, key) !== -1 ? msg : "";
    }
  }
};
</script>
<style lang="scss" scoped>
.addentry_wrapper {
  padding: 2em;
  border-bottom: 1px solid $light-gray;
}
.addentry_form {
  margin-top: 2em;
  padding: 2em 3em;
  background: $logobg-gray;
  border-radius: 0.4em;
  display: flex;
  flex-wrap: wrap;
  .entry_el {
    min-width: 15em;
    width: 25em;
    flex-basis: 32%;
    margin-right: 10px;
  }
  .save_btn {
    width: 15em;
    margin-top: 20px;
    flex-basis: 14%;
  }
}
/deep/ {
  //   costom text field theme
  .text-field,
  .dp-wrapper .dp-text-field {
    --inputfield-bg-color: none;
    --content-bg-color: none;
    --inputborder-color: #{$bluey-gray};
    --inputfield-color: #{$light-gray};
    border-radius: 0;
    border: 1px solid transparent;
    border-bottom: 1px solid var(--inputborder-color);
    &:focus {
      --inputfocusborder-color: #{$border-gray};
      border: 1px solid transparent;
      border-bottom: 1px solid var(--inputfocusborder-color);
    }
  }
  //   costom select box theme
  .select {
    .content {
      --content-bg-color: none;
      --contentborder-color: #{$bluey-gray};
      border-radius: 0;
      border: 1px solid transparent;
      border-bottom: 1px solid var(--contentborder-color);
    }
    &.active .content {
      --contenthoverborder-color: #{$border-gray};
      border: 1px solid transparent;
      border-bottom: 1px solid var(--contenthoverborder-color);
    }
  }
  .add_entry_btn.line {
    max-width: 10em;
    height: 2.5em;
    border: 1px solid $dark-gray;
    color: $dark-gray;
    i {
      color: $white;
      background: $dark-gray;
      border-radius: 0.2em;
    }
    &:disabled {
      color: lighten($dark-gray, 55%);
      border: 1px solid lighten($dark-gray, 55%);
      i {
        background: lighten($dark-gray, 55%);
      }
    }
  }
}
</style>
