<template>
  <div :class="['itemrow', isHeaderRow ? 'table_header_row' : '']">
    <template v-for="(item, i) in cellNames">
      <div
        :class="['table_col', item]"
        :style="{ 'min-width': colWidth ? colWidth[item] : '' }"
        :key="i"
      >
        <slot :name="item"></slot>
      </div>
    </template>
    <div v-if="!cellNames">--</div>
  </div>
</template>
<script>
export default {
  props: ["cellNames", "isHeaderRow", "colWidth"],
  data() {
    return {};
  },
  name: "TableRow",
  computed: {},
  methods: {}
};
</script>
<style lang="scss" scoped>
.itemrow {
  display: flex;
  // align-items: flex-start;
  flex-wrap: nowrap;
  padding: 15px 10px;
  transition: all 0.3s;
  border-bottom: 1px solid $border-gray;
  color: $dark-gray;
  width: auto;
  background: $white;
  &:hover {
    background: $light-gray;
  }
  &.table_header_row {
    font-weight: 600;
    min-height: 40px;
    line-height: 18px;
    font-size: 12px;
    color: $bluey-gray;
    text-transform: capitalize;
    background: $dark-gray;
    position: sticky;
    top: 0;
    &:hover {
      background: $dark-gray;
    }
  }
}

.table_col {
  width: 100%;
  padding: 0 10px;
  flex-grow: 1;
  word-break: break-all;
}
</style>
