<template>
  <div :class="['dp-wrapper', theme]">
    <label class="label-input" for="dp" v-if="label"> {{ label }}</label>
    <vueDatepicker
      :class="['dp-picker', position]"
      v-bind="options"
      @selected="handleDateSelect"
      inputClass="dp-text-field"
    />
    <span class="error" v-if="errorMsg">{{ errorMsg }}</span>
  </div>
</template>
<script>
import vueDatepicker from "vuejs-datepicker";
export default {
  name: "Datepicker",
  components: { vueDatepicker },
  props: {
    label: String,
    options: Object,
    errorMsg: String,
    theme: {
      type: String,
      default: "light",
      validator: value => {
        return value === "light" || value === "dark";
      }
    },
    position: {
      type: String,
      default: "bottom",
      validator: value => {
        return value === "bottom" || value === "top";
      }
    }
  },
  data() {
    return {};
  },
  methods: {
    handleDateSelect(val) {
      this.$emit("onDatepick", val);
    }
  }
};
</script>
<style lang="scss" scoped>
.dp-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.8em 0 1.2em;
  position: relative;
  &.dark {
    --content-bg-color: #{rgba($dark-gray, 0.3)};
    --contentfocus-bg-color: #{rgba($dark-gray, 0.4)};
    --content-color: #{$white};
    --content-disabled-color: #{rgba($bluey-gray, 0.3)};
    --label-color: #{$bluey-gray};
    --contentborder-color: #{rgba($dark-gray, 1)};
    --contenthoverborder-color: #{lighten($dark-gray, 20)};
    --dropdown-bg-color: #{$dark-gray};
    --dropdownhover-bg-color: #{lighten($logobg-gray, 0)};
    --placeholder-color: #{darken($bluey-gray, 20)};
  }
  .label-input {
    @include label-typo;
  }
  .error {
    @include error-typo;
  }
  /deep/ {
    .top {
      .vdp-datepicker__calendar {
        bottom: 100%;
      }
    }
    .vdp-datepicker__calendar {
      font-size: 1.5em;
      border-radius: 4px;
      padding: 1em;
      border: none;
      background: var(--dropdown-bg-color, $white);
      color: var(--content-color, $dark-gray);
      @include dropdown-shadow;
      .disabled {
        color: var(--content-disabled-color, $light-gray);
      }
      header {
        .prev {
          &.disabled {
            &:after {
              border-right-color: var(--content-disabled-color, $light-gray);
            }
          }
          &:not(.disabled) {
            &:after {
              border-right-color: var(--content-color, $dark-gray);
            }
          }
        }
        .next {
          &.disabled {
            &:after {
              border-left-color: var(--content-disabled-color, $light-gray);
            }
          }
          &:not(.disabled) {
            &:after {
              border-left-color: var(--content-color, $dark-gray);
            }
          }
        }
        .prev,
        .next,
        .up {
          &:not(.disabled) {
            background: var(--dropdown-bg-color, $white);
            &:hover {
              background: var(--dropdownhover-bg-color, $white);
            }
          }
        }
      }
      .cell {
        border-radius: 0.3em;
        &:hover {
          border-color: $bright-blue;
        }
        &.selected {
          color: $white;
          background: $bright-blue;
        }
      }
    }

    .dp-picker {
      width: 100%;
    }
    .dp-text-field {
      width: 100%;
      height: 4rem;
      border-radius: 4px;
      border: 0;
      padding: 0 0.5em 0 1em;
      font-size: 1.5em;
      color: var(--content-color, $dark-gray);
      background-color: var(--content-bg-color, $white);
      border: 1px solid var(--contentborder-color, $dark-gray);
      -webkit-appearence: none;
      outline: 0;
      &:focus {
        background: var(--contentfocus-bg-color);
        border: 1px solid var(--contenthoverborder-color, $dark-gray);
      }
      &::placeholder {
        color: var(--placeholder-color, lighten($dark-gray, 30%));
      }
    }
  }
}
</style>
