<template>
  <div class="page_wrapper">
    <SearchFilter
      :showDateFilter="true"
      :inlineButton="true"
      @applyFilter="getTrialBalanceData"
    />
    <TitleCards v-bind="{ cardData }" />
    <PaginatedTable
      :expand="true"
      :tableData="tableData"
      :tableWidth="tableData ? '300em' : ''"
      :totalPages="totalPages"
      @onClickTableFilter="getTrialBalanceData"
      @onSort="(sortKey, sortOrder) => updateSortOrder({ sortKey, sortOrder })"
    />
    <PreLoader v-if="isLoading" :overlay="true" />
  </div>
</template>

<script>
// @ is an alias to /src
import SearchFilter from "@/components/SearchFilter";
import PaginatedTable from "@/components/PaginatedTable";
import TitleCards from "@/components/TitleCards";
import PreLoader from "@/components/PreLoader";
// import { mockTableData } from "./mockData";
import { mapActions, mapGetters, mapState, mapMutations } from "vuex";
export default {
  name: "BankBalance",
  components: { SearchFilter, PaginatedTable, TitleCards, PreLoader },
  data() {
    return {};
  },
  computed: {
    ...mapState("trialBalance", ["trialBalanceData", "isLoading", "sortItem"]),
    ...mapGetters("trialBalance", {
      cardData: "getCardData",
      tableData: "getTableData",
      totalPages: "getTotalPages"
    })
  },
  methods: {
    ...mapActions("trialBalance", ["getTrialBalanceData"]),
    ...mapMutations("trialBalance", { updateSortOrder: "SET_SORT_VALUE" })
  },
  created() {
    this.getTrialBalanceData();
  },
  watch: {
    sortItem() {
      this.getTrialBalanceData();
    }
  }
};
</script>
<style lang="scss" scoped>
/deep/ {
  .table_wrapper {
    .tier1FundName,
    .tier2FundName,
    .tier2MasterTransactionId,
    .tier1MasterTransactionId {
      flex-grow: 2;
      min-width: 230px;
    }
  }
}
</style>
