<template>
  <transition v-if="apiInfo.message || message" name="fade">
    <section :class="['message_bar', apiInfo.status || msgType]">
      {{ apiInfo.message || message }}
    </section>
  </transition>
</template>
<script>
import { mapState } from "vuex";
export default {
  props: {
    message: String,
    msgType: {
      type: String,
      validator: value => ["success", "error", "info"].indexOf(value) !== -1
    }
  },
  methods: {},
  computed: {
    ...mapState(["apiInfo"])
  }
};
</script>
<style lang="scss" scoped>
.message_bar {
  position: fixed;
  padding: 1em 3em;
  z-index: 99;
  top: 48px;
  background: rgba($white, 0.6);
  left: $menubar-width;
  right: 0;
  &.error {
    background: rgba($faded-red, 0.6);
  }
  &.success {
    background: rgba($medium-green, 0.6);
  }
}
.fade-enter-active,
.fade-leave-active {
  transition: all 0.5s;
  top: 48px;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
  top: 0px;
}
</style>
