<template>
  <fieldset class="radio-item">
    <input
      type="radio"
      :checked="isSelected || false"
      :name="grpName"
      :value="fieldValue"
      :id="fieldId"
      class="radio-field"
      @change="updateValue"
    />
    <label class="label-input" :for="fieldId">{{ label }}</label>
  </fieldset>
</template>
<script>
export default {
  name: "RadioButton",
  props: {
    label: String,
    fieldValue: String,
    isSelected: Boolean,
    grpName: {
      value: "",
      type: String,
      required: true
    },
    fieldId: {
      value: "",
      type: String,
      required: true
    }
  },
  methods: {
    updateValue() {
      this.$emit("input", this.fieldValue);
    }
  }
};
</script>
<style lang="scss" scoped>
.radio-item {
  margin-right: 15px;
}
input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  position: absolute;
  visibility: hidden;
  & + label {
    position: relative;
    display: flex;
    align-content: center;
    padding-left: 25px;
    cursor: pointer;
    transition: all 0.2s;
    &:before,
    &:after {
      transition: all 0.2s;
      content: "";
      border-radius: 50px;
      width: 16px;
      height: 16px;
      border: 1px solid $light-gray;
      position: absolute;
      left: 0;
    }
    &:after {
      width: 0;
      height: 0;
      left: 8px;
      top: 8px;
      border: transparent;
    }
  }
  &:hover + label,
  &:checked + label {
    &:before {
      border-color: $light-gray;
    }
    &:after {
      background: $light-gray;
      // border:1px solid #fff;
      width: 12px;
      height: 12px;
      left: 3px;
      top: 3px;
    }
  }
  &:checked + label {
    color: $bright-blue;
    &:before {
      border-color: $bright-blue;
    }
    &:after {
      background: $bright-blue;
    }
  }
}
</style>
