<template>
  <div class="page_wrapper">
    Revenue
  </div>
</template>

<script>
// @ is an alias to /src
export default {
  name: "Revenue",
  components: {},
  computed: {}
};
</script>
<style lang="scss" scoped></style>
