$dark-gray: #2c343f;
$logobg-gray: #3c434d;
$bg-gray: #e4e4e4;
$light-gray: #eef3f5;
$border-gray: #eef3f5;
$bright-blue: #00b9f0;
$bluey-gray: #8798ad;
$bluey-dark-gray: #3e4a59;
$white: #fff;

$faded-red: #d63649;
$cool-green:#2db744;
$medium-green:#33ac2e;
$macaroni-yellow:#f7c137;

$orange: #f8be17;
$topbar-height: 4.8rem;
$menubar-width: 20rem;
$content-width: calc(100% - #{$menubar-width})
